@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .h1 {
        @apply text-[75px] md:text-[100px] lg:text-[125px] xl:text-[140px]
    };

    .h2 {
        @apply text-[55px] lg:text-[80px] xl:text-[90px]
    }

    .h3 {
        @apply text-[31px] lg:text-[40px] xl:text-[50px]
    }

    .h4 {
        @apply text-[30px] lg:text-[35px]
    }

    .formulaire {
        @apply text-[45px] md:text-[55px] lg:text-[60px] xl:text-[80px]
    }

    .texte {
        @apply text-[16px] lg:text-[18px] xl:text-[20px]
    };

    .bouton {
        @apply text-[20px] xl:text-[25px]
    };

    .imageXL {
        @apply w-[670px] h-[320px]
    }

    .intro:hover {
        background-color: rgb(120, 121, 241);
    }

    .neon {
        animation: neon infinite 4s;
        transition: 5s;
    }

    @keyframes neon {

        0% {
            text-shadow: 0 0 7px #fff,
                0 0 2.5px #fff,
                0 0 10.5px rgb(255, 143, 163),
                0 0 19.25px rgb(255, 143, 163),
                0 0 25px rgb(255, 143, 163)
        }

        50% {
            text-shadow: 0 0 7px #fff,
                0 0 8px #fff,
                0 0 33.6px rgb(255, 143, 163),
                0 0 61.6px rgb(255, 143, 163),
                0 0 80px rgb(255, 143, 163)
        }

        100% {
            text-shadow: 0 0 7px #fff,
                0 0 2.5px #fff,
                0 0 10.5px rgb(255, 143, 163),
                0 0 19.25px rgb(255, 143, 163),
                0 0 25px rgb(255, 143, 163)
        }
    }
}